<script>

			  //$("head").append('<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>').append('<link href="css/bootstrap-select.css" rel="stylesheet" type="text/css"/>').append('<link href="css/custom.css" rel="stylesheet" type="text/css"/>').append('<link href="css/developer.css" rel="stylesheet" type="text/css"/>').append('<link href="css/responsive.css" rel="stylesheet" type="text/css"/>');	
</script>
<body>
<div id="particles-js"></div>
<!--login panel-->
<div class="login_outter">
	<div class="login_box">
    	<h2><img src="images/logo.png" alt=""></h2>
        <h3>Welcome</h3> 
        <div class="frm_inr">
        	<h4>Sign in</h4>
			<form>
				<div ng-if ="email != '' || email != undefined">
					<input type="text" placeholder="Email" id="email" value="{{email}}" ng-keyup="clear()" ng-keypress="removeClass();">
					<!--<div id="emailErr" style="color: red;">{{emailErr}}</div>-->
					
					<input type="password" placeholder="Password" id="password" value="{{password}}" ng-keyup="clear()" ng-keypress="removeClass();">
					<div id="passwordErr" style="color: red;">{{passwordErr}}</div>
					
					<input type="hidden" id="grant_type" value="password">
					
					<div class="remember">
						<input type="checkbox" id="remember" ng-checked="isremChecked()==1">
						<label for="remember">Remember me</label>
					</div>
					
					<div class="btn_outr clearfix">
						<button class="pull-left login-submit-btn" ng-click="loginSubmit()">Sign in</button>
						<a href="javascript:void(0)" ng-click="forget_password();">Forgot Password</a>
					</div>
				</div>
			</form>
        </div>
        <div class="trm_row">
		By clicking Sign In, you agree to InvolvEdTech's <br>
        	<a href="https://www.involvedtech.co.uk/docs/PrivacyPolicy.pdf" target="_blank">Privacy Policy</a> <span>and</span> <a href="https://www.involvedtech.co.uk/docs/TermsAndConditions.pdf" target="_blank">Terms and Conditions</a>
        </div>
    </div>
</div>
<!--login panel-->

<input id="confy1" type="button" data-toggle="modal" data-target="#settaskconfirm_modal_login" style="display:none">
<!--settaskconfirm pop up-->
<div class="modal fade attach_photo" id="settaskconfirm_modal_login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog loginMod" role="document">
        <div class="modal-content">
            <div class="modal-body clearfix">
               <span>{{msg}}</span>
	       <span>{{msg1}}</span>
               <div class="delete_btn">  	
                    <a href="javascript:void(0)" class="yes_bg"  aria-label="Close" data-dismiss="modal" aria-label="Close">OK</a>
               </div>
            </div>
        </div>
    </div>
</div>
<!--settaskconfirm pop end-->

<input id="networkConnection" type="button" data-toggle="modal" data-target="#networkConnection_modal" style="display:none">
<!--NO INTERNER CONNECTION pop up-->
<div class="modal fade attach_photo" id="networkConnection_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog loginMod" role="document">
        <div class="modal-content">
            <div class="modal-body clearfix">
               <span id="msg_text"><h4 style="color: #54c9e8">No network available</h4><br>Please check your internet connection</span>
               <div class="delete_btn">  	
                    <a class="yes_bg custome_cursor"  aria-label="Close" data-dismiss="modal" aria-label="Close" id="internateClose" style="display: none;">OK</a>
               </div>
            </div>
        </div>
    </div>
</div>

<!--footer start-->
<div class="footer">Copyright &copy; 2017 InvolvEdTech. All Rights Reserved.</div>
<!--footer end-->

</body>
