<body>

<div id="particles-js"></div>
<!--login panel-->
<div class="login_outter">
	 <div class="login_box">
    	<h2><img src="images/logo.png" alt=""></h2>
        <div class="forgot_pswrd_area">
        	<h2>Forgot Password?</h2>
            <div class="forgot_inr">
			   <form name="forgotpassForm" data-ng-submit="submit_email()">
					<input type="text" id="femail" placeholder="Email">
					<div class="btn_outr clearfix">
						<button class="login-submit-btn" id="resset_pass">Submit</button>
					</div>
					<div class="loader" style="display: none;text-align: center"></div>
			   </form>
            	
                <div class="msg_text">{{tempPasswordMsg}}</div>
                <div class="technical_area">
                	<h5>Technical issues?</h5>
                    <p>Please send your query to <a href="mailto:support@involvedtech.co.uk">support@involvedtech.co.uk</a> with  your name and date of birth from your registered school email address.</p>
		     
                </div>
                <div class="back_sign">Back to <a href="javascript:void(0)" ng-click="backToLogin();">Sign in</a></div>
            </div>
        </div>
    </div>
</div>
<!--login panel-->
<input id="resetpass" type="button" data-toggle="modal" data-target="#resetpass_modal" style="display:none">
<!--settaskconfirm pop up-->
<div class="modal fade attach_photo" id="resetpass_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog loginMod" role="document">
        <div class="modal-content">
            <div class="modal-body clearfix">
               <span>{{msg}}</span>
	       <span>{{msg1}}</span>
               <div class="delete_btn">  	
                    <a href="javascript:void(0)" class="yes_bg"  aria-label="Close" data-dismiss="modal" aria-label="Close">OK</a>
               </div>
            </div>
        </div>
    </div>
</div>


<input id="confy1" type="button" data-toggle="modal" data-target="#settaskconfirm_modal_login" style="display:none">
<!--settaskconfirm pop up-->
<div class="modal fade attach_photo" id="settaskconfirm_modal_login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog loginMod" role="document">
        <div class="modal-content">
            <div class="modal-body clearfix">
               <span>{{msg}}</span>
	       <!--<span>{{msg1}}</span>-->
               <div class="delete_btn">  	
                    <a href="javascript:void(0)" class="yes_bg"  aria-label="Close" data-dismiss="modal" aria-label="Close">OK</a>
               </div>
            </div>
        </div>
    </div>
</div>
<!--settaskconfirm pop end-->

<input id="networkConnection" type="button" data-toggle="modal" data-target="#networkConnection_modal" style="display:none">
<!--NO INTERNER CONNECTION pop up-->
<div class="modal fade attach_photo" id="networkConnection_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog loginMod" role="document">
        <div class="modal-content">
            <div class="modal-body clearfix">
               <span id="msg_text"><h4 style="color: #54c9e8">No network available</h4><br>Please check your internet connection</span>
               <div class="delete_btn">  	
                    <a class="yes_bg custome_cursor"  aria-label="Close" data-dismiss="modal" aria-label="Close" id="internateClose" style="display: none;">OK</a>
               </div>
            </div>
        </div>
    </div>
</div>

</body>

