<!DOCTYPE html>
<html lang="en">
	<head>
    
	<meta charset="utf-8" />

	<title>InvolvEd</title>
    
    <!--favicon-->    
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" type="image/png">
      
    <!--meta tag-->  
    <meta name="description" content="involved" />
    <meta name="author" content="admin" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
     
    <!--    google fonts    -->
   <!-- <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
        
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap-select.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/slick.css" rel="stylesheet" type="text/css" />
   
	<link href="assets/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/developer.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/responsive.css" rel="stylesheet" type="text/css" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">-->

	<!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
	<!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
</head>

<body>
	<div class="overlay"></div>
		<div id="preloader_right_content2" style="display:none">
			<div id="status_right_content2"></div>
		</div>
<!--header start-->
<header class="header">
   <div class="container">
       
       <div class="navbar navbar-default">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" id="collapse_btn" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="logo"><a href="landing.html"><img src="assets/images/logo.png" alt=""></a></div>
            </div>
           <div class="teacher_login"><a href="javascript:void(0)" ng-click="redirectToTeacher()">Teacher Login</a></div>
            <div class="navbar-collapse collapse" id="collapse_div">
              <ul class="nav navbar-nav navbar-right">
                <li id="home_li" class="scrollSection"><a href="#home_section">Home</a></li>
                <li id="parent_li" class="scrollSection"><a href="#parent_section">Parents</a></li>
                <li id="schools_li" class="scrollSection"><a href="#schools_section">Schools</a></li>
                <li  class="scrollSection"><a href="#contactus_section">Contact Us</a></li>
              </ul>
            </div>
          </div>
   </div> 
</header>
<!--header end-->

<div class="inner_content" id="home_section">
<!--banner start-->
<div class="banner_outr" style="background:url(assets/images/banner_pic.png) no-repeat;" >
   <div class="container" >
        <div class="arrow_top">
            <a class="goTo" href="#" data-go-to="feature_area"><img src="assets/images/arrow.png" alt=""></a>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-5">
                <h1>Simplifying 
                    <span>Parental Engagement</span>
                </h1>
                <p>Keep parents informed, engaged and updated on their child’s education. Give parents and teachers an app to support student learning and improve attainment.</p>
                <a class="global_btn btn-default" data-target="#myModal" data-toggle="modal" href="javascript:void(0);" id="bookDemo" data-keyboard="true"
>Book a Demo</a>
				 
            </div>
            <div class="col-md-6 col-sm-7">
                <div class="pic_area">
                    <div class="screen_slider">
                        <div class=""><img src="assets/images/slide2.png" alt=""></div>
                        <div class=""><img src="assets/images/slide6.png" alt=""></div>
                        <div class=""><img src="assets/images/slide4.png" alt=""></div>
                    </div>
                    
<!--
                    <slick infinite=true slides-to-show=1 slides-to-scroll=1>
                        <div>sgsg</div>
                        <div>sfdf</div>
                    </slick>
-->
                    
                    <img src="assets/images/mob_pic.png" alt="">
                    <div class="app_btn">
                        <a href="javascript:void(0)"><img src="assets/images/app_btn.png" alt=""></a>
                        <a href="javascript:void(0)"><img src="assets/images/app_btn2.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div> 
   </div> 
</div>
<!--banner end-->

<!--feature part-->
<div class="feature_area" id="feature_area">
    <div class="container">
        <h2>Features</h2>
        <div class="feature_cell">
           <span><img src="assets/images/pic1.png" alt=""></span> 
           <h3><a href="javascript:void(0)">One Community</a></h3>
           <p>All teachers, parents and students on one platform</p>
        </div>
        <div class="feature_cell">
           <span><img src="assets/images/pic2.png" alt=""></span> 
            <h3><a href="javascript:void(0)">Track Attainment</a></h3>
           <p>Visualise student and class performance</p>
        </div>
        <div class="feature_cell">
           <span><img src="assets/images/pic3.png" alt=""></span> 
            <h3><a href="javascript:void(0)">Instant Communication</a></h3>
           <p>Improve student progress via parent/teacher collaboration</p>
        </div>
        <div class="feature_cell">
           <span><img src="assets/images/pic4.png" alt=""></span> 
            <h3><a href="javascript:void(0)">Productivity</a></h3>
           <p>Set, manage and track class homework</p>
        </div>
        <div class="feature_cell">
           <span><img src="assets/images/pic5.png" alt=""></span> 
           <h3><a href="javascript:void(0)">Accessible & Secure</a></h3>
           <p>24-hour access with security of all user data</p>
        </div>
    </div>
</div>
 <!--feature part end-->

<!--client part-->
<div class="client_part">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <div class="client_pic"><span class="sims_img"><img src="assets/images/sims.png" alt=""></span><img src="assets/images/prof_pic.JPG" alt=""></div>
                <div class="client_comnt">
                    <p>As a teacher, the InvolvEd app gives me the ability to share responsibility of student development with parents. Not only does the teacher web app give me a clear and strategic view of my student’s progress, the easy to use features improve efficiency. Having used the app, it is evident that the team at InvolvEd have invested significant time and effort in making an excellent product for parents and teachers."</p>
                    <h4>Will Hough, Head of Biology at Secondary School</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!--client part end-->

<div class="SecC">
    <div class="container">
        <div class="parents-col" id="parent_section">
            <h2>Parents</h2>
            <div class="parents">
             <p>Empowered to take action</p>
             <div class="mobpic_d mobpic_d2">
                <!--<div class="pulse1 pulse"><img src="assets/images/pulse1.png" alt=""></div>-->
                <img src="assets/images/phone.png" alt=""/>
                <!--<div class="pulse2 pulse animated"><img src="assets/images/pulse2.png" alt=""></div>-->
             </div>
            <div class="parentsLF left_sec">
                <a class="pic_cell_right" href="javascript:void(0)"><img src="assets/images/home-icon.png" alt=""/></a>
                <div class="parentsLF_content">
                    <a href="javascript:void(0)">All your children in one place</a>
                    <p class="hvr_content">Get access to all your children’s educational progress on one app.</p>
                </div>
            </div>
            <div class="parentsLF parentsLS left_sec">
                <a class="pic_cell_right" href="javascript:void(0)"><img src="assets/images/message-icon.png" alt=""/></a>
                <div class="parentsLF_content">
                 <a href="javascript:void(0)">Communicate with Teachers</a>
                 <p class="hvr_content">Work together with teachers to identify development areas for your child.</p>
                </div>
            </div>
            <div class="parentsLF parentsRA right_sec">
                <a class="pic_cell_left" href="javascript:void(0)"><img src="assets/images/text-icon.png" alt=""/></a>
                <div class="parentsLF_content">
                    <a href="javascript:void(0)">Stay updated on school homework</a>
                    <p class="hvr_content">Notifications and reminders of homework, projects and class exams throughout the school year.</p>
                </div>
            </div>
            <div class="parentsLF parentsRB right_sec">
                <a class="pic_cell_left" href="javascript:void(0)"><img src="assets/images/analyge-icon.png" alt=""/></a>
                <div class="parentsLF_content">
                    <a href="javascript:void(0)">Analyse your child’s performance</a>
                    <p class="hvr_content">Track attendance, achievements and assessment results through interactive charts.</p>
                </div>
            </div>
            <div class="parentsLF parentsB">
                <img src="assets/images/lock-icon.png" alt=""/>
                <div class="parentsLF_content" style="text-align:center;">
                    <a href="javascript:void(0)">Safe, Secure and Private</a>
                    <p class="hvr_content">All user data secured as per data protection principles.</p>
                </div>
            </div>
            </div>
            <div class="school" id="schools_section">
                <h2>Schools</h2>
                <p>Share, engage and collaborate</p>
                <div class="mobpic_d"><img src="assets/images/mac-destop.png" alt=""></div>
                <div class="parentsLF left_sec">
                    <a class="pic_cell_right" href="javascript:void(0)"><img src="assets/images/parents-ac.png" alt=""/></a>
                <div class="parentsLF_content">
                    <a href="javascript:void(0)">Instant access to Parents</a>
                    <p class="hvr_content">Share responsibility. Reach out to parents instantly to commend achievement and discuss opportunities.</p>
                </div>
               </div>
              <div class="parentsLF parentsLS left_sec">
                  <a class="pic_cell_right" href="javascript:void(0)"><img src="assets/images/missed-hw.png" alt=""/></a>
                <div class="parentsLF_content">
                    <a href="javascript:void(0)">No more missed homework</a>
                    <p class="hvr_content">Automatic reminders. Homework shared between teachers, parents and students.</p>
                </div>
              </div>
                <div class="parentsLF parentsRA right_sec">
                    <a class="pic_cell_left" href="javascript:void(0)"><img src="assets/images/functional.png" alt=""/></a>
                    <div class="parentsLF_content">
                        <a href="javascript:void(0)">Simple yet functional</a>
                        <p class="hvr_content">Intuitive interface for quick, efficient access and everyday use.</p>
                    </div>
                </div>
                <div class="parentsLF parentsRB right_sec">
                    <a class="pic_cell_left" href="javascript:void(0)"><img src="assets/images/student-per.png" alt=""/></a>
                    <div class="parentsLF_content">
                        <a href="javascript:void(0)">See student performance data</a>
                        <p class="hvr_content">Better informed. Visualise and identify student learning needs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer_outr" id="contactus_section">
    <div class="footer-top">
        <div class="container">
            <div class="footer-topA clearfix">
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        <div class="footer-colA">
                            <a href="javascript:void(0)"><img src="assets/images/logo.png" alt=""></a>
                            <div class="footer-social">
                                <a href="https://www.facebook.com/involvedtech/" target="_blank" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="https://twitter.com/InvolvEdTech/" target="_blank" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="https://www.linkedin.com/company/15252058" target="_blank" title="LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-5">
                        <div class="footer-colB">
                            <a href="tel:+447875430505">
                                <img src="assets/images/tel-icon.png" alt=""/>
                                +44 (0) 7875 430 505   
                            </a>
                             <a href="mailto:contact@involvedtech.co.uk">
                                <img src="assets/images/mail-icon.png" alt=""/>
                                contact@involvedtech.co.uk   
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-5">
                        <div class="footer-colC">
                            <div class="location">
                                <img src="assets/images/location-icon.png" alt=""/>
                                <p>27 Old Gloucester Street <span>London</span> <span>WC1N 3AX</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-2">
                        <div class="footer-colD">
                            <ul class="footer-nav">
                                <li><a href="#home_section" ng-click="active_class('home_section');">Home</a></li>
                                <li><a href="#parent_section" ng-click="active_class('parent_section');">Parents</a></li>
                                <li><a href="#schools_section" ng-click="active_class('schools_section');">Schools</a></li>
                                <li><a href="docs/FAQS.pdf" target="_blank">FAQ</a></li>
								
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-topB">
                <div class="clearfix">
                    <ul class="company-policy clearfix">
                        <li><a href="docs/TermsAndConditions.pdf" target="_blank">Terms & Conditions</a></li>
                        <li><a href="docs/CookiesPolicy.pdf" target="_blank">Cookies</a></li>
                        <li><a href="docs/PrivacyPolicy.pdf" target="_blank">Privacy Policy</a></li>
                    </ul>
                    <div class="copy">© Copyright 2016 InvolvEdTech LLP Registered in England and Wales Registration OC411317</div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottomIn clearfix">
                <h2>Experience the feeling of being InvolvEd</h2>
			
                 <button data-target="#myModal" data-toggle="modal" class="btn btn-info btn-default" data-keyboard="true"
 ng-click="bookDemo();">Book a Demo</button>
				
            </div>
        </div>
    </div>
</footer>
    
</div> 
    
    
<!--modal part-->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
			<!--<div id="preloader_right_content2" style="display:none">
				<div id="status_right_content2"></div>
			</div>-->
            <button type="button" id="bookDemoCloseBTn" class="close close_btn" data-dismiss="modal" aria-hidden="true"><img src="assets/images/cross_btn.png" alt=""></button>
            <div class="modal_inr clearfix">
				<form>
					<div class="modal_left">
						<h3 >For an interactive <span class="blue_heading">demonstration</span></h3>
						<p>Enter your details below and a member of the InvolvEd team will contact your shortly.</p>
						<div class="member_frm">
						   <div class="row">
							   <div class="col-sm-6 col-xs-6">
									<label>Name</label>
									<input id="name" class="name_fld" type="text"  maxlength="50"]>
							   </div> 
							   <div class="col-sm-6 col-xs-6">
									<label>Job Title</label>
									<input id="job_title" class="name_fld" type="text" maxlength="50">
							   </div> 
							   <div class="col-sm-6 col-xs-6">
									<label>Email</label>
									<input id="email" class="name_fld" type="text" >
							   </div> 
							   <div class="col-sm-6 col-xs-6">
									<label>Contact Number</label>
									<input id="contact_no" class="name_fld" type="text"  maxlength="11">
							   </div>
							   <div class="col-sm-6 col-xs-6">
									<label>School</label>
									<input id="school" class="name_fld" type="text" maxlength="50">
							   </div> 
							   <div class="col-sm-6 col-xs-6">
									<label>Postcode</label>
									<input id="postcode" class="name_fld" type="text">
							   </div>
							  
						   </div> 
						</div>
						<div class="row col-lm-6 book_demo_agree" style="padding-top: 10% !important;padding-left: 3%;">By clicking Book Demo, you agree to being contacted by InvolvEdTech.</div>
					</div>
					<div class="modal_right">
						<div class="blnk_div">
							<h4>Select a date</h4>
							<div class="clander_outr">
								<div id="datepicker"></div>
								
								<!--<img src="assets/images/calender.png" alt="">-->
							</div>
								<input type="reset" id="bookDemoReset" style="display:none">
							<a id="bookDemoSubmit" class="global_btn btn-default" data-toggle="modal" href="javascript:void(0)" ng-click="bookDemoSubmit()">Book Demo</a>
						</div>
					</div>
				</form>
            </div>
        </div>
    </div>
</div>
<!--end-->

<!--success msg pop up-->
<input id="successMsg1" type="button" data-toggle="modal" data-target="#successMsg_modal1" style="display:none">
<!--settaskconfirm pop up-->
<div class="modal fade attach_photo" id="successMsg_modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body clearfix">
               <span>{{successMsg1}}</span>
            </div>
        </div>
    </div>
</div>
<!--uccess msg pop up end-->
    
	


</body>
<script>
	$(document).ready(function() {
		$( ".header .navbar-toggle" ).click(function() {
			
			$( "body").toggleClass( "addpanel" );
		});
		$(".overlay").click(function() {
			
			$("body").removeClass("addpanel");
			$('.navbar-collapse').collapse('toggle')
		});
		
});

</script>
</html>
